.floating>div, .floating>div>img {
    position: absolute;
}
#flower {
    left:0vw;
    top:0vw;
}
#pika {
    left: 25vw;
    top: 25vw;
}
#sideTiger {
    left: 35vw;
    top: 25vw;
}
#tigerFront {
    left: 70vw;
    top: 20vw;
}
#flower>img {
    width: 100vw;
}
#pika>img {
    width: 20vw;
}
#sideTiger>img {
    width: 25vw;
}
#tigerFront>img {
    width: 20vw;
}