.floating>div, .floating>div>img {
    position: absolute;
}
#flower {
    left:-10vw; /* So it prevents pic to fall off from leftside*/
    top:-10vw; /* so that top doesn't fall off must be negative */
}
#pika {
    left: 25vw;
    top: 25vw;
}
#sideTiger {
    left: 35vw;
    top: 25vw;
}
#tigerFront {
    left: 70vw;
    top: 20vw;
}
#flower>img {
    width: 120vw;
}
#pika>img {
    width: 20vw;
}
#sideTiger>img {
    width: 25vw;
}
#tigerFront>img {
    width: 20vw;
}